body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.84;
    color: #000;
}

a {
    text-decoration: none;
}

h2 {
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.list-style {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.button  {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.filters {
    font-family: "PT Sans", Arial, sans-serif;
}

.button-primary {
    color: #ffffff;
    background-color: #ee3643;
}
.button-primary:hover {
    background-color: #ca2c37;
}

.button-primary:active {
    background-color: #ba2732;
}

.button-white {
    background-color: #ffffff;
    color: #1d2739
}


/* HEADER */

.header-navigation {
    background-color: #293449;
}

.search {
    color: #ffffff;
    font-family: inherit;
    font-size: 17px;
    line-height: 1.05;
    background-color: transparent; 
}

.search:hover {
    background-color: #212a3a;
}

.search:focus {
    background-color: #ffffff;
    color: #000000
}

.user-navigation a {
    color: #ffffff;
    font-size: 17px;
    line-height: 1.05;
}

.user-navigation a:hover {
    background-color: #212a3a;
}

.user-navigation a:active {
    background-color: #161d29;
}

.has-products {
    background-color: #ee3643;
}

.header-order {
    background-color: #63a63e;
}

.header-order:hover {
    background-color: #5fbb2d;
}

.header-order:active {
    background-color: #518534;
}

.header-wraper {
    background-color: #f4f7f9;
}

.lead {
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 1.4;
}

.contacts a {
    color: #ee3643;
    font-size: 21px;
    line-height: 1;
    text-align: center;
}

.contacts p {
    color: #32425c;
    font-size: 14px;
    line-height: 1.7;
}

.registration a, 
.log-out {
    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    line-height: 1;
}

.log-out:active {
    color: #c5c5c5;
}

.registration a:hover {
    color: #ee3643;
}

.registration a:active {
    color: #c5c5c5;
}

.cabinet a {
    color: #32425c;
    font-size: 16px;
    line-height: 1.1;
    text-decoration: underline;
}

.cabinet a:hover {
    color: #ee3643;
}

.cabinet a:active {
    color: #C5C5C5;
}

.site-navigation {
    background-color: #32425c;
}

.site-navigation a {
    color: #ffffff;
    font-size: 17px;
    line-height: 1;
}

.site-navigation a:hover {
    background-color: #293449
}

.site-navigation a:active {
    color: rgb(255,255,255,0.5);
    background-color: #1d2739;
}

/* END HEADER */

/* CATALOG */

.breadcrumbs a, .breadcrumps-current {
    color: #000000;
    font-size: 13px;
    line-height: 1.3;
    text-transform: uppercase;
}

.page-title {
    color: #32425c;
    font-size: 30px;
    background-color: #f2f6f8;
    text-transform: uppercase;
    line-height: 1;
}

.filter-name {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.7;
    text-transform: uppercase;
}

.filter-option label {
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
    text-transform: uppercase;
}

/* радио кнопки */
.filter-option label {}
/* радио кнопки */


.filter-button {
    background-color: #ffffff;
    color: inherit;
    font-size: inherit;
    line-height: 1.3;
    text-transform: uppercase;
}

.catalog-item {
    text-align: center;
}

.catalog-item h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
}

.old-price {
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.05;
    text-decoration: line-through;
    text-transform: uppercase;
}

.price {
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.05;
    text-transform: uppercase;
}

.pay {
    background-color: #63a63e;
    color: #ffffff;
}

.pay:hover {
    background-color: #5fbb2d;
}

.pay:active {
    background-color: #518534;
}

.to-bookmarks {
    color: #32425c;
}

.to-bookmarks:hover {
    color: #32425c;
}

.to-bookmarks:active {
    color: #c2c6ce

}

/* END CATALOG */


/* ABOUT */

.about {
    background-color: #ffffff;
}

.about p, .contact-map p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.8;
}

.transport-list li {
    font-size: 18px;
    line-height: 1.1;
}

/* END ABOUT CONTACT-MAP */


/* FOOTER */

.footer-top, .footer-middle {
    background-color: #32425c;
}

.address, .phone {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 1.3;
}

.footer-navigation a {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 1.3;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-navigation a:active {
    opacity: 0.5;
}

.footer-navigation-yellow a {
    color: #ffd180;
}

.footer-bottom {
    background-color: #293449
}

.copyright {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.1;
}

.social-button {
    background-color: #212a3a;
}

.social-button:hover {
    background-color: #ee3643;
}

.support, .creator {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.1;
}

.support a, .creator a {
    color: #ffd180;
}

.support a:hover, 
.creator a:hover {
    text-decoration: underline;
} 

.support a:active, 
.creator a:active {
    color: #ee3643;
}

/* END FOOTER */

/* modal index */
.modal {
    background-color: #ffffff;
}

.user-form label {
    color: #000000;
    font-size: 18px;
    line-height: 1;
}

.modal-footer {
    background-color: #f4f4f4;
}

/* modal index */

.added-to-cart {
    font-size: 30px;
    line-height: 1;
}
