body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.84;
    color: #000;
}

* {
    box-sizing: border-box
}

.container {
    max-width: 988px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px; 
}

a {
    text-decoration: none;
}

p {
    margin-top: 0px;
}

h2 {
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    margin-top: 0px;
}

.list-style {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.button  {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.filters {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.button-primary {
    color: #ffffff;
    background-color: #ee3643;
}
.button-primary:hover {
    background-color: #ca2c37;
}

.button-primary:active {
    background-color: #ba2732;
}

.button-white {
    background-color: #ffffff;
    color: #1d2739
}


/* HEADER */

.main-header {
    background-color: #f4f7f9;
}

.header-navigation {
    background-color: #293449;
}

.nav {
    display: flex;
}

.logo-techno {
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.search {
    color: #ffffff;
    font-family: inherit;
    font-size: 17px;
    line-height: 1.05;
    width: 270px;
    height: 42px;
    background-color: transparent; 
    padding-left: 42px;
    padding-right: 16px;
    border: none;
}

.search:hover {
    background-color: #212a3a;
}

.search:focus {
    background-color: #ffffff;
    color: #000000
}
.search::-webkit-input-placeholder {color:#ffffff;}
.search:-ms-input-placeholder      {color:#ffffff;}

.user-navigation {
    display: flex;
    margin-left: auto;
}

.bookmarks,
.basket,
.header-order {
    color: #ffffff;
    font-size: 17px;
    line-height: 1.05;
    padding-left: 27px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
}

.bookmarks {
    padding-left: 19px;
}

.basket {
    padding-left: 32px;
}

.header-order {
    min-width: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

.user-navigation a:hover {
    background-color: #212a3a;
}

.user-navigation a:active {
    background-color: #161d29;
}

.has-products {
    background-color: #ee3643;
}

.header-order {
    background-color: #63a63e;
}

.header-order:hover {
    background-color: #5fbb2d;
}

.header-order:active {
    background-color: #518534;
}

.header-info {
    display: flex;
    padding-top: 46px;
    padding-bottom: 39px;
    padding-left: 53px;
    justify-content: space-between;
}

.contacts {
    margin-left: 32px;
    margin-right: 32px;
}

.lead {
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 1.4;
    max-width: 196px;
}

.contacts a {
    color: #ee3643;
    font-size: 21px;
    line-height: 1;
    text-align: center;
    padding-left: 72px;
    padding-right: 49px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 3px solid #ffffff;
    display: block;
}

.contacts p {
    color: #32425c;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.registration {
    display: flex;
}

.registration a, 
.log-out {
    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    line-height: 1;
    display: block;
}

.sign-up,
.sign-in {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 11px; 
}

.sign-in {
    margin-right: 10px;
    padding-left: 48px;
}

.log-out:active {
    color: #c5c5c5;
}

.registration a:hover {
    color: #ee3643;
}

.registration a:active {
    color: #c5c5c5;
}

.cabinet a {
    color: #32425c;
    font-size: 16px;
    line-height: 1.1;
    text-decoration: underline;
}

.cabinet a:hover {
    color: #ee3643;
}

.cabinet a:active {
    color: #C5C5C5;
}

.site-navigation {
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -5px 0 #293449;
    background-color: #32425c;
}

.site-navigation a {
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1;
}

.site-navigation a:hover {
    background-color: #293449
}

.site-navigation a:active {
    color: rgb(255,255,255,0.5);
    background-color: #1d2739;
}

/* END HEADER */

/* CATALOG */

.breadcrumbs a, .breadcrumps-current {
    color: #000000;
    font-size: 13px;
    line-height: 1.3;
}

.page-title {
    color: #32425c;
    font-size: 30px;
    background-color: #f2f6f8;
    line-height: 1;
}

.filter-name {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.7;
}

.filter-option label {
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
}

/* радио кнопки */
.filter-option label {}
/* радио кнопки */


.filter-button {
    background-color: #ffffff;
    color: inherit;
    font-size: inherit;
    line-height: 1.3;
}

.catalog-item {
    text-align: center;
}

.catalog-item h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
}

.old-price {
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.05;
    text-decoration: line-through;
}

.price {
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.05;
}

.pay {
    background-color: #63a63e;
    color: #ffffff;
}

.pay:hover {
    background-color: #5fbb2d;
}

.pay:active {
    background-color: #518534;
}

.to-bookmarks {
    color: #32425c;
}

.to-bookmarks:hover {
    color: #32425c;
}

.to-bookmarks:active {
    color: #c2c6ce

}

/* END CATALOG */


/* ABOUT */

.about {
    background-color: #ffffff;
    max-width: 520px;
}

.company-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 77px;
    padding-bottom: 86px;
}

.contact-map {
    max-width: 300px;
}

.about p, 
.contact-map p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.8;
}

.transport-list li {
    font-size: 18px;
    line-height: 1.1;
}

/* END ABOUT CONTACT-MAP */


/* FOOTER */

.main-footer {
    background-color: #32425c;
}

.footer-top, .footer-middle {
    display: flex;
    justify-content: space-between;
}

.footer-middle {
    padding-top: 20px;
    padding-bottom: 49px;

}

.footer-top {
    align-items: flex-end;
}

.logo-footer {
    margin-bottom: -5px;         
}

.address, .phone {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 1.3;
}

.footer-navigation ul {
    display: flex;
}

.footer-navigation li:last-child a {
    padding-right: 0px;
}

.footer-navigation a {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 1.3;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-navigation a:active {
    opacity: 0.5;
}

.footer-navigation-yellow a {
    color: #ffd180;
}

.footer-contacts {
    padding-top: 8px;
}

.footer-contacts p {
    margin-bottom: 0px;
}

.footer-bottom {
    background-color: #293449
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer-container p {
    margin-bottom: 0;
}

.social-block {
    display: flex;
}

.made {
    display: flex;
    padding-right: 15px;
}

.made p {
    margin-bottom: 0;
}

.support {
    max-width: 153px;
    margin-right: 53px;
    margin-left: 26px;
}

.creator {
    max-width: 96px;
}

.copyright {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.1;
}

.social-button {
    background-color: #212a3a;
    display: block;
    margin-right: 2px;
    margin-right: 2px;
}

.social-button:hover {
    background-color: #ee3643;
}

.support, .creator {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.1;
}

.support a, .creator a {
    color: #ffd180;
}

.support a:hover, 
.creator a:hover {
    text-decoration: underline;
} 

.support a:active, 
.creator a:active {
    color: #ee3643;
}

/* END FOOTER */

/* modal index */
.modal {
    background-color: #ffffff;
}

.user-form label {
    color: #000000;
    font-size: 18px;
    line-height: 1;
}

.modal-footer {
    background-color: #f4f4f4;
}

/* modal index */

.added-to-cart {
    font-size: 30px;
    line-height: 1;
}
